body {
  margin: 0;
  color: greenyellow;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

button, #url-input {
  font-family: 'Courier New', Courier, monospace;
}

#disclaimer {
  color: red;
}